@import "../../styles/variables";

header {
  background-color: $main;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  color: $white;
}
