$main: #26d0ce;
$background: #f3f3f3;
$selected-day: #3547e9;
$modal-mask-color: #5a5a5aa6;
$disabled-text: #9e9e9e;
$update: #ffc107;
$red: red;
$remove: #dc3545;
$add: #28a745;
$add-muted: #9fe5af;
$white: #ffffff;
$black: #000000;
$transparent: transparent;
