@import "./shared/styles/variables";
* {
  outline: none;
}
body {
  margin: 0;
  background-color: $background;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
